node_modules

.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

auto-imports.d.ts
components.d.ts

项目文档.txt
备份/
初始模板/
tmp/
plans/
public/acu_visualizer_test/docs
.limcode/
src/数据库前端
src/output-phrasing-engineering-main
src/phone
src/ci_island_map
